<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <legend>New Message</legend>
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">To</label>
        <div class="col-lg-10">
          {{input type="text" class="form-control" id="name" value=name placeholder="Recipients"}}
          <br>
          <button class="btn btn-primary" {{action 'save'}}>Send</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="container">
  {{#each}}
  <ul>
    <li>{{name}}</li>
  </ul>
  {{/each}}
</div>
